- provide(:title, 'Log in')
%h4.center Sign in
.row
  = form_for(:session, url: login_path) do |f|
    .col.l8.m10.s12.offset-l2.offset-m1
      .row
        .input-field.col.m6.s12
          = f.label :email
          = f.email_field :email, type: 'email'
        .input-field.col.m6.s12
          = f.label :password
          -#= link_to '(forgot password)', new_password_reset_path
          = f.password_field :password, type: 'password'
      .row
        .input-field.col.m6.offset-m6.s12
          = f.label :remember_me, class: 'checkbox inline' do
            = f.check_box :remember_me
            %span Remember me on this computer
      .row
        .col.s12
          = link_to 'Sign up now!', signup_path, class: 'btn left'
          %button{ class: 'btn waves-effect waves-light right', type: 'submit', name: 'action' } Sign in




          -#<% provide(:title, 'Log in') %>
          -#<h1>Log in</h1>
          -#
          -#<div class="row">
          -#  <div class="col-md-6 col-md-offset-3">
          -#    <%= form_for(:session, url: login_path) do |f| %>
          -#
          -#      <%= f.label :email %>
          -#      <%= f.email_field :email, class: 'form-control' %>
          -#
          -#      <%= f.label :password %>
          -#      <%= link_to '(forgot password)', new_password_reset_path %>
          -#      <%= f.password_field :password, class: 'form-control' %>
          -#
          -#      <%= f.label :remember_me, class: 'checkbox inline' do %>
          -#        <%= f.check_box :remember_me %>
          -#        <span> Remember me on this computer</span>
          -#      <% end %>
          -#
          -#      <%= f.submit 'Log in', class: 'btn btn-primary' %>
          -#    <% end %>
          -#
          -#    <p>New user? <%= link_to 'Sign up now!', signup_path %></p>
          -#  </div>
          -#</div>