= form_for(@user) do |f|
  .row
    .input-field.col.m6.s12
      = f.text_field :name
      = f.label :name
    .input-field.col.m6.s12
      = f.email_field :email, type: 'email'
      = f.label :email
  .row
    .input-field.col.m6.s12
      = f.password_field :password
      = f.label :password
    .input-field.col.m6.s12
      = f.password_field :password_confirmation
      = f.label :password_confirmation
  .row
    .input-field.col.s12
      = f.submit yield(:button_text), class: 'btn btn-primary'