.modal-content
  %table{id: 'mini-table'}
    %tbody
      - count = 1
      - 3.times do |i|
        %tr
          - 3. times do |j|
            %td.allow-hover{id: "cell#{count}", onclick: "manage_selection(this,#{count})", href: board_add_number_path(@board,'NUMBER')}
              = count
              - count = count + 1
.section.center
  = hidden_field_tag :row, @row
  = hidden_field_tag :col, @col
  = check_box_tag 'taking', 'notes', @cell.notes.size > 1, autocomplete: 'off', id: 'taking_notes'
  = label_tag 'taking_notes', 'Taking Notes', style: 'font-weight: normal;'
.modal-footer
  = link_to 'Cancel', '#', onclick: "closeModal('sudoku'); return false;", class: 'right btn-flat'
  = link_to 'Clear', board_add_number_path(@board,0), class: 'right btn-flat clear-cell'
  = link_to 'Save Notes', board_save_notes_path(@board,'NOTES'), class: 'right btn-flat save-notes', style: 'display: none', id:'saving_notes', onclick: 'save_notes(); return false;'
- if @cell.notes.size > 1
  - @cell.notes.each do |i|
    .notes{data: {notes: i}}
:javascript
  $("#taking_notes").change(function(){
    var save = $("#saving_notes");
    if (this.checked){
      save.css('display', 'inline');
      window.notes = [];
    }
    else {
      save.css('display', 'none')
    }
  }).trigger('change');
  $('.notes').each(function() {
    change_selection(Number($(this).data('notes')));
  });
