- sq_size = @board.sq_size
- cells = @board.cells.to_a
- green = @board.numbers_finished
- red = @board.numbers_bad
- sq_size.times do |r|
  %tr
    - sq_size.times do |c|
      - cell = cells.find{|ce| ce.row == r && ce.column == c}
      - klass = ''
      - klass = 'green' if green[cell.value]
      - klass = 'red' if red[cell.value]
      - if @colored_number.to_i > 0
        - klass = 'blue' if cell.value == @colored_number
        - klass = 'blue lighten-2' if cell.notes.include?(@colored_number)
      %td.allow-hover.cell.list-numbers{href: board_show_options_path(@board,r,c), class: "#{klass} #{cell.notes.size > 0 ? 'notes-cell' : ''}", id: "row_#{r}_col_#{c}", data: {row: r, col: c, region: cell.region}}
        - if cell.value.to_i > 0
          = cell.value
        - elsif cell.notes.size > 0
          - notes = cell.notes
          - notes = notes+[nil]*(sq_size-notes.size) if notes.size < sq_size
          = "<div style='font-size: 8pt;width: auto'>".html_safe
          = "#{notes[0..2].join}#{'&nbsp;'*notes[0..2].count(nil)}<br>".html_safe
          = "#{notes[3..5].join}#{'&nbsp;'*notes[3..5].count(nil)}<br>".html_safe
          = "#{notes[6..8].join}#{'&nbsp;'*notes[6..8].count(nil)}</div>".html_safe
        - else
          = ('&nbsp;'*3).html_safe