- @board.cells.each_with_index do |row,row_i|
  %tr
    - row.each_with_index do |cell,cell_i|
      - if @colored_number && ((cell.is_a?(Fixnum) && @colored_number == cell) || (cell.is_a?(Array) && cell.include?(@colored_number)))
        - if cell.is_a?(Fixnum)
          %td.allow-hover.blue{id: "row_#{row_i}_col_#{cell_i}", onclick: "list_numbers('#{row_i}','#{cell_i}')"}
            = cell
        - else
          %td.allow-hover.blue.lighten-2{id: "row_#{row_i}_col_#{cell_i}", onclick: "list_numbers('#{row_i}','#{cell_i}')"}
            = "<div style='font-size: 8pt;width: auto'>".html_safe
            = "#{cell[0]}#{cell[1]}#{cell[2]}#{'&nbsp;&nbsp;&nbsp;' if cell[0].nil?}<br>".html_safe
            = "#{cell[3]}#{cell[4]}#{cell[5]}#{'&nbsp;&nbsp;&nbsp;' if cell[3].nil?}<br>".html_safe
            = "#{cell[6]}#{cell[7]}#{cell[8]}#{'&nbsp;&nbsp;&nbsp;' if cell[6].nil?}</div>".html_safe
      - elsif cell != 0 && cell.is_a?(Fixnum)
        - if row.count(cell) != 1
          -# rows
          %td.allow-hover.red{id: "row_#{row_i}_col_#{cell_i}", onclick: "list_numbers('#{row_i}','#{cell_i}')"}
            = cell
        - elsif @board.cells.map{|i| i[cell_i]}.count(cell) != 1
          -# columns
          %td.allow-hover.red{id: "row_#{row_i}_col_#{cell_i}", onclick: "list_numbers('#{row_i}','#{cell_i}')"}
            = cell
        - elsif @board.region_double(row_i,cell_i).count(cell) > 1
          %td.allow-hover.red.region-has-more{id: "row_#{row_i}_col_#{cell_i}", onclick: "list_numbers('#{row_i}','#{cell_i}')"}
            = cell
        - else
          %td.allow-hover{id: "row_#{row_i}_col_#{cell_i}", onclick: "list_numbers('#{row_i}','#{cell_i}')", class: "#{@board.number_finished?(cell) ? 'green' : ''}"}
            = cell
      - else
        %td.allow-hover{id: "row_#{row_i}_col_#{cell_i}", onclick: "list_numbers('#{row_i}','#{cell_i}')"}
          - if cell == 0
            = '&nbsp;&nbsp;&nbsp;'.html_safe
          - elsif cell.is_a?(Array)
            = "<div style='font-size: 8pt;width: auto'>".html_safe
            = "#{cell[0]}#{cell[1]}#{cell[2]}#{'&nbsp;&nbsp;&nbsp;' if cell[0].nil?}<br>".html_safe
            = "#{cell[3]}#{cell[4]}#{cell[5]}#{'&nbsp;&nbsp;&nbsp;' if cell[3].nil?}<br>".html_safe
            = "#{cell[6]}#{cell[7]}#{cell[8]}#{'&nbsp;&nbsp;&nbsp;' if cell[6].nil?}</div>".html_safe
          - else
            = cell