.modal-body
  .row
    .input-field.col.s6.edit_users
      = f.text_field :first_name
      = f.label :first_name
    .input-field.col.s6.edit_users
      = f.text_field :last_name
      = f.label :last_name
  .row
    .input-field.col.s6.edit_users
      = f.text_field :email
      = f.label :email
  .row
    .input-field.col.s6.edit_users
      = f.password_field :password
      = f.label :password
    .input-field.col.s6.edit_users
      = f.password_field :password_confirmation
      = f.label :password_confirmation