- if @boards.size == 0
  You don't have any sudoku boards
- else
  .section
  - @boards.each do |board|
    .row
      .col.s2
        = link_to 'Edit', board_path(board), class: 'btn btn-flat'
      .col.s8
        - if board.cells.where(value: 0).size == 81  || (board.cells.where(value: 1).size == 0 && board.cells.where(value: 2).size == 0 && board.cells.where(value: 3).size == 0 && board.cells.where(value: 4).size == 0 && board.cells.where(value: 5).size == 0 && board.cells.where(value: 6).size == 0 && board.cells.where(value: 7).size == 0 && board.cells.where(value: 8).size == 0 && board.cells.where(value: 9).size == 0)
          %span{style: 'text-align: center;'}
            This board is empty
        - elsif board.finished?
          %span{style: 'text-align: center;'}
            This board is finished
        - else
          %table.bordered
            %tbody.sudoku-board
              - board.sq_size.times do |r|
                %tr
                  - board.cells.where(row: r).order(:column).each do |cell|
                    %td{style: ':hover{ background: }'}
                      = "#{cell.value == 0 || cell.notes.length > 0 ? '&nbsp;' : cell.value}".html_safe
      .col.s2
        = link_to 'delete', board_path(board), class: 'btn btn-flat', method: :delete, data: { confirm: 'You sure?' }
    %hr
.fixed-action-btn{ style: 'bottom:45px; right:24px;' }
  = link_to '<i class="material-icons">add</i>'.html_safe, new_board_path, class: 'btn-floating btn-large'
  %span.fab-tip New sudoku