- if @boards.count == 0
  You don't have any sudoku boards
- else
  .section
  - @boards.each do |board|
    .row
      .col.s2
        = link_to 'Edit', board_path(board), class: 'btn btn-flat'
      .col.s8
        - if board.cells.flatten.count(0) == 81  || (board.cells.flatten(1).count(1) == 0 && board.cells.flatten(1).count(2) == 0 && board.cells.flatten(1).count(3) == 0 && board.cells.flatten(1).count(4) == 0 && board.cells.flatten(1).count(5) == 0 && board.cells.flatten(1).count(6) == 0 && board.cells.flatten(1).count(7) == 0 && board.cells.flatten(1).count(8) == 0 && board.cells.flatten(1).count(9) == 0)
          %span{style: 'text-align: center;'}
            This board is empty
        - else
          %table.bordered
            %tbody.sudoku-board
              - board.cells.each do |row|
                %tr
                  - row.each do |cell|
                    %td
                      = "#{cell == 0 || defined?(cell.count) ? '&nbsp;' : cell}".html_safe
      .col.s2
        = link_to 'delete', board_path(board), class: 'btn btn-flat', method: :delete, data: { confirm: 'You sure?' }
    %hr
.fixed-action-btn{ style: 'bottom:45px; right:24px;' }
  = link_to '<i class="material-icons">add</i>'.html_safe, new_board_path, class: 'btn-floating btn-large'
  %span.fab-tip New sudoku