- provide(:title, 'Sudoku')
.container
  %h3 Sudoku Board
  = link_to 'Your Sudoku boards', boards_path, class: 'btn-flat'
  = link_to 'Reset Board', '#', class: 'btn-flat', onclick: 'reset()', remote: true
  = link_to 'Clear Coloring', '#', class: 'btn-flat', onclick: "highlight_number('#{0}')", remote: true
  .section
  = link_to '1', '#', class: 'btn-flat', onclick: "highlight_number('#{1}')", remote: true
  = link_to '2', '#', class: 'btn-flat', onclick: "highlight_number('#{2}')", remote: true
  = link_to '3', '#', class: 'btn-flat', onclick: "highlight_number('#{3}')", remote: true
  = link_to '4', '#', class: 'btn-flat', onclick: "highlight_number('#{4}')", remote: true
  = link_to '5', '#', class: 'btn-flat', onclick: "highlight_number('#{5}')", remote: true
  = link_to '6', '#', class: 'btn-flat', onclick: "highlight_number('#{6}')", remote: true
  = link_to '7', '#', class: 'btn-flat', onclick: "highlight_number('#{7}')", remote: true
  = link_to '8', '#', class: 'btn-flat', onclick: "highlight_number('#{8}')", remote: true
  = link_to '9', '#', class: 'btn-flat', onclick: "highlight_number('#{9}')", remote: true
  .section
  %table.centered.bordered{id: 'full-table'}
    %tbody.sudoku-board
      = render 'boards/partials/show'
  .section
%div{ id: 'sudoku_modal', class: 'modal' }