- @board.each_with_index do |row,row_i|
  %tr
    - row.each_with_index do |cell,cell_i|
      - if @colored_number && ((cell.class.to_s == 'Fixnum' && @colored_number == cell && cell != 0) || (cell.class.to_s == 'Array' && cell.include?(@colored_number)))
        - if cell.class.to_s == 'Fixnum' && @colored_number == cell
          %td{id: "row_#{row_i}_col_#{cell_i}", onclick:"list_numbers('#{row_i}','#{cell_i}')", style: 'background-color: #09e;'}
            = cell
        - else #elsif cell.class.to_s == 'Array' && cell.include?(@colored_number)
          %td{id: "row_#{row_i}_col_#{cell_i}", onclick:"list_numbers('#{row_i}','#{cell_i}')", style: 'background-color: #09e;'}
            = "<div style='font-size: 8pt;width: auto'>".html_safe
            = "#{cell[0]}#{cell[1]}#{cell[2]}#{'&nbsp;&nbsp;&nbsp;' if cell[0].nil?}<br>".html_safe
            = "#{cell[3]}#{cell[4]}#{cell[5]}#{'&nbsp;&nbsp;&nbsp;' if cell[3].nil?}<br>".html_safe
            = "#{cell[6]}#{cell[7]}#{cell[8]}#{'&nbsp;&nbsp;&nbsp;' if cell[6].nil?}</div>".html_safe
      - elsif cell != 0 && cell.class.to_s == 'Fixnum'
        - if (row.count - 1) != (row - [cell]).count
          -# rows
          %td{id: "row_#{row_i}_col_#{cell_i}", onclick:"list_numbers('#{row_i}','#{cell_i}')", style: 'background-color: #f10;'}
            = cell
          -# columns
        - elsif (@board.collect{|i| i[cell_i]}.count - 1) != (@board.collect{|i| i[cell_i]} - [cell]).count
          %td{id: "row_#{row_i}_col_#{cell_i}", onclick:"list_numbers('#{row_i}','#{cell_i}')", style: 'background-color: #f10;'}
            = cell
          -# 3x3 region
        - elsif cell_i % 3 == 0
          - if row_i % 3 == 0 # top left
            - if @board[row_i + 1][cell_i + 1] == cell || @board[row_i + 2][cell_i + 1] == cell || @board[row_i + 1][cell_i + 2] == cell || @board[row_i + 2][cell_i + 2] == cell
              %td{id: "row_#{row_i}_col_#{cell_i}", onclick:"list_numbers('#{row_i}','#{cell_i}')", style: 'background-color: #f10;'}
                = cell
            - else
              %td{id: "row_#{row_i}_col_#{cell_i}", onclick:"list_numbers('#{row_i}','#{cell_i}')", style: "#{cell != 0 && !defined?(cell.count) && @board.flatten(1).count(cell) == 9 ? 'background-color: #1f0' : ''}"}
                = cell
          - elsif row_i % 3 == 1 # mid left
            - if @board[row_i + 1][cell_i + 1] == cell || @board[row_i - 1][cell_i + 1] == cell || @board[row_i + 1][cell_i + 2] == cell || @board[row_i - 1][cell_i + 2] == cell
              %td{id: "row_#{row_i}_col_#{cell_i}", onclick:"list_numbers('#{row_i}','#{cell_i}')", style: 'background-color: #f10;'}
                = cell
            - else
              %td{id: "row_#{row_i}_col_#{cell_i}", onclick:"list_numbers('#{row_i}','#{cell_i}')", style: "#{cell != 0 && !defined?(cell.count) && @board.flatten(1).count(cell) == 9 ? 'background-color: #1f0' : ''}"}
                = cell
          - elsif row_i % 3 == 2 # bottom left
            - if @board[row_i - 1][cell_i + 1] == cell || @board[row_i - 1][cell_i + 2] == cell || @board[row_i - 2][cell_i + 1] == cell || @board[row_i - 2][cell_i + 2] == cell
              %td{id: "row_#{row_i}_col_#{cell_i}", onclick:"list_numbers('#{row_i}','#{cell_i}')", style: 'background-color: #f10;'}
                = cell
            - else
              %td{id: "row_#{row_i}_col_#{cell_i}", onclick:"list_numbers('#{row_i}','#{cell_i}')", style: "#{cell != 0 && !defined?(cell.count) && @board.flatten(1).count(cell) == 9 ? 'background-color: #1f0' : ''}"}
                = cell
        - elsif cell_i % 3 == 1
          - if row_i % 3 == 0 # top mid
            - if @board[row_i + 1][cell_i - 1] == cell || @board[row_i + 2][cell_i - 1] == cell || @board[row_i + 1][cell_i + 1] == cell || @board[row_i + 2][cell_i + 1] == cell
              %td{id: "row_#{row_i}_col_#{cell_i}", onclick:"list_numbers('#{row_i}','#{cell_i}')", style: 'background-color: #f10;'}
                = cell
            - else
              %td{id: "row_#{row_i}_col_#{cell_i}", onclick:"list_numbers('#{row_i}','#{cell_i}')", style: "#{cell != 0 && !defined?(cell.count) && @board.flatten(1).count(cell) == 9 ? 'background-color: #1f0' : ''}"}
                = cell
          - elsif row_i % 3 == 1 # mid mid
            - if @board[row_i + 1][cell_i + 1] == cell || @board[row_i - 1][cell_i + 1] == cell || @board[row_i + 1][cell_i - 1] == cell || @board[row_i - 1][cell_i - 1] == cell
              %td{id: "row_#{row_i}_col_#{cell_i}", onclick:"list_numbers('#{row_i}','#{cell_i}')", style: 'background-color: #f10;'}
                = cell
            - else
              %td{id: "row_#{row_i}_col_#{cell_i}", onclick:"list_numbers('#{row_i}','#{cell_i}')", style: "#{cell != 0 && !defined?(cell.count) && @board.flatten(1).count(cell) == 9 ? 'background-color: #1f0' : ''}"}
                = cell
          - elsif row_i % 3 == 2 # bottom mid
            - if @board[row_i - 1][cell_i - 1] == cell || @board[row_i - 2][cell_i - 1] == cell || @board[row_i - 1][cell_i + 1] == cell || @board[row_i - 2][cell_i + 1] == cell
              %td{id: "row_#{row_i}_col_#{cell_i}", onclick:"list_numbers('#{row_i}','#{cell_i}')", style: 'background-color: #f10;'}
                = cell
            - else
              %td{id: "row_#{row_i}_col_#{cell_i}", onclick:"list_numbers('#{row_i}','#{cell_i}')", style: "#{cell != 0 && !defined?(cell.count) && @board.flatten(1).count(cell) == 9 ? 'background-color: #1f0' : ''}"}
                = cell
        - elsif cell_i % 3 == 2
          - if row_i % 3 == 0 # top right
            - if @board[row_i + 1][cell_i - 1] == cell || @board[row_i + 1][cell_i - 2] == cell || @board[row_i + 2][cell_i - 1] == cell || @board[row_i + 2][cell_i - 2] == cell
              %td{id: "row_#{row_i}_col_#{cell_i}", onclick:"list_numbers('#{row_i}','#{cell_i}')", style: 'background-color: #f10;'}
                = cell
            - else
              %td{id: "row_#{row_i}_col_#{cell_i}", onclick:"list_numbers('#{row_i}','#{cell_i}')", style: "#{cell != 0 && !defined?(cell.count) && @board.flatten(1).count(cell) == 9 ? 'background-color: #1f0' : ''}"}
                = cell
          - elsif row_i % 3 == 1 # mid right
            - if @board[row_i - 1][cell_i - 1] == cell || @board[row_i - 1][cell_i - 2] == cell || @board[row_i + 1][cell_i - 1] == cell || @board[row_i + 1][cell_i - 2] == cell
              %td{id: "row_#{row_i}_col_#{cell_i}", onclick:"list_numbers('#{row_i}','#{cell_i}')", style: 'background-color: #f10;'}
                = cell
            - else
              %td{id: "row_#{row_i}_col_#{cell_i}", onclick:"list_numbers('#{row_i}','#{cell_i}')", style: "#{cell != 0 && !defined?(cell.count) && @board.flatten(1).count(cell) == 9 ? 'background-color: #1f0' : ''}"}
                = cell
          - elsif row_i % 3 == 2 # bottom right
            - if @board[row_i - 1][cell_i - 1] == cell || @board[row_i - 1][cell_i - 2] == cell || @board[row_i - 2][cell_i - 1] == cell || @board[row_i - 2][cell_i - 2] == cell
              %td{id: "row_#{row_i}_col_#{cell_i}", onclick:"list_numbers('#{row_i}','#{cell_i}')", style: 'background-color: #f10;'}
                = cell
            - else
              %td{id: "row_#{row_i}_col_#{cell_i}", onclick:"list_numbers('#{row_i}','#{cell_i}')", style: "#{cell != 0 && !defined?(cell.count) && @board.flatten(1).count(cell) == 9 ? 'background-color: #1f0' : ''}"}
                = cell
        - else
          %td{id: "row_#{row_i}_col_#{cell_i}", onclick:"list_numbers('#{row_i}','#{cell_i}')", style: "#{cell != 0 && !defined?(cell.count) && @board.flatten(1).count(cell) == 9 ? 'background-color: #1f0' : ''}"}
            = cell
      - else
        %td{id: "row_#{row_i}_col_#{cell_i}", onclick:"list_numbers('#{row_i}','#{cell_i}')", style: "#{cell != 0 && !defined?(cell.count) && @board.flatten(1).count(cell) == 9 ? 'background-color: #1f0' : ''}"}
          - if cell == 0
            = '&nbsp;&nbsp;&nbsp;'.html_safe
          - elsif defined?(cell.count)
            = "<div style='font-size: 8pt;width: auto'>".html_safe
            = "#{cell[0]}#{cell[1]}#{cell[2]}#{'&nbsp;&nbsp;&nbsp;' if cell[0].nil?}<br>".html_safe
            = "#{cell[3]}#{cell[4]}#{cell[5]}#{'&nbsp;&nbsp;&nbsp;' if cell[3].nil?}<br>".html_safe
            = "#{cell[6]}#{cell[7]}#{cell[8]}#{'&nbsp;&nbsp;&nbsp;' if cell[6].nil?}</div>".html_safe
          - else
            = cell