<!DOCTYPE html>
<html>
  <head>
      <title>
          <%= full_title(yield(:title)) %>
      </title>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <!--<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <%= stylesheet_link_tag 'application', media: 'all' %>
      <%= javascript_include_tag 'application' %>
      <%#= html_import_tag "application", "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>
  </head>
  <body unresolved class="fullbleed layout vertical">
  <nav>
    <div class="nav-wrapper">
        <span class="brand-logo" style="margin-left: 8px">
          <%= page_header(yield(:header)) %>
        </span>
      </div>
  </nav>
    <div main style="overflow-y:scroll">
      <%= yield %>
    </div>
  </body>
</html>
